
{% extends "base.html" %}


{% block content %}
    <!-- <a href="/leads/create">Create new lead</a> -->
    <a href="{% url 'leads:lead-create' %}">Create new lead</a>

    <hr />
    <h1>This is all of our leads</h1>

    {% for lead in leads %}
        <div class="lead">
            <!-- {{ lead.first_name }} {{ lead.last_name }}. Age: {{ lead.age }}  -->
            <!-- <a href="/leads/{{ lead.pk }}">{{ lead.first_name }} {{ lead.last_name }}. Age: {{ lead.age }} </a>. Age: {{ lead.age }}  -->
            <a href="{% url 'leads:lead-detail' lead.pk %}">{{ lead.first_name }} {{ lead.last_name }}. Age: {{ lead.age }} </a>. Age: {{ lead.age }} 


        </div>
    {% endfor %}
{% endblock content %}

